# Virtual environment
.venv/
venv/
ENV/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Build and distribution files
/build/
/dist/
downloads/
eggs/
.eggs/
/lib/
.next
/lib64/
out
parts/
node_modules
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/
